.Sidebar {
    display: flex;
    flex-direction: row;
    height: inherit;
    width: auto;
}

.Sidebar .container {
    background-color: #252526;
    min-width: 150px;
    max-width: 600px;
    width: 200px;
}